main {
    min-height: max-content;
    height: 89vh!important;
}

.dropdown a {
    text-decoration: none;
    color: initial;
}

#results .dropdown-toggle::after {
    visibility: hidden!important;
}

#results .dropdown-menu.show {
    position: initial!important;
    transform: translate3d(0px, -19px, 0px)!important;
}

#results .card {
    opacity: 0.87;
    border: none;
    border-radius: 0.9rem!important;
}

#results .dropdown-menu {
    border-radius: 1rem;
}

#location {
    max-width: 157px;
}

#direct {
    color: chartreuse;
}

#one-stop {
    color: gold;
}

#two-stop {
    color: #cd0000;
}

#index-content {
    display: flex;
    height: 80vh;
}

div#loading {
    display: none;
    height: calc(95vh - 3rem - 66px);
    width: 100%;
    margin-top: -3rem;
    cursor: wait;
}

#apology {
    height: 80vh;
}

#apology img {
    min-width: 333px;
    opacity: 0.85;
}