.dropdown a {
    text-decoration: none;
    color: initial;
}

#results .dropdown-toggle::after {
    visibility: hidden!important;
}

#results .dropdown-menu.show {
    position: initial!important;
    transform: translate3d(0px, -19px, 0px)!important;
}

#results .card {
    opacity: 0.87;
    border: none;
    border-radius: 0.9rem!important;
}

#results .dropdown-menu {
    border-radius: 1rem;
}