{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="d-flex justify-content-center align-items-center flex-column" style="height: 55vh;">
    <div class="mb-5">
        <h1>Where will you be flying to?</h1>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <div style="width: 80%">
            <form action="/" method="post">
            <div class="d-flex flex-row justify-content-center">
                <div class="pe-5">
                    <label for="destination" class="form-label">Destination</label>
                    <select class="form-control dropdown text-center text-muted" name="destination" id="destination">
                        <option selected="true" disabled>Select airport</option>
                        {% for country in countries %}
                            <optgroup label={{ country[0] }}>
                                {% for i in range(airport_count[country[0]]) %}
                                    <option>{{ country[i + 1] }}</option>
                                {% endfor %}
                            </optgroup>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="origin" class="form-label">Date of travel</label>
                    <input class="form-control date" type="date" name="date">
                </div>
                <div class="d-flex align-items-end ps-5">
                    <input class="form-control btn btn-primary" type="submit" value="Search">
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}