{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div id="main-content" class="d-flex justify-content-center align-items-center flex-column w-100">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <div class="d-flex justify-content-center align-items-center mb-0">
                        <div class="alert alert-danger w-100" role="alert">
                            {{ msg }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1 class="mb-5 mt-5">Sign in</h1>
        <form action="/login" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-5">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Sign In</button>
        </form>
        <p class="text-muted mt-5">Don't have an account yet? <a href="/register">Register.</a></p>
    </div>
{% endblock %}
