{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div id="main-content" class="d-flex justify-content-center align-items-center flex-column">
        <h1 class="mb-5">Register</h1>
        <form action="/register" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto mb-5" id="confirmation" name="confirmation" placeholder="Repeat password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
        <p class="text-muted mt-5">Already have an account? <a href="/register">Sign In.</a></p>
    </div>
{% endblock %}